:root {
    --main-color: #0BB8FF;
    --font-white: #fff;
    --font-black: #374553;
    --font-gray: #AAAAAA;
    --font-footer-light: #C5C8Ce;
    --font-footer-dark: #646F7C;
    --background-color-gray: #F7F8F9;
    --footer-bacground-color: #28323C;
}

@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-style: normal;
}

html {
    font-family: 'Happiness-Sans-Bold';
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

h1 figure {
    position: relative;
    width: 112px;
    margin-left: 40px;
    margin-top: 18px;
    float: left;
    
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.hamberger-wrapper {
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-right: 40px;
    float: right;
}

.hamberger-wrapper::before {
    display: block;
    content: '';
    background-color: white;
    height: 4px;
    width: 26px;
    margin-top: 10px;
}
.hamberger-wrapper::after {
    display: block;
    content: '';
    background-color: white;
    height: 4px;
    width: 26px;
    margin-top: 8px;
    margin-left: 10px;
}

#main-title {
    /* 브라우저 height값의 100%만큼 높이 지정 */
    height: 100vh;
    background-image: url(../img/main_visual_fullscreen.jpg);
    position: relative;
}

.main-title-heading {
    font-size: 64px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#introduce {
    width: 800px;
    margin: 0 auto;
}

#introduce > article {
    margin-top: 120px;
}

.introduce-title {
    display: inline-block;
    font-size: 40px;
    color: var(--font-black);
    font-weight: 900;
    position: relative;
}

.introduce-title::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    right: -12px;
    bottom: 0;
}

.introduce-contents {
    margin-top: 24px;
    font-size: 18px;
    color: var(--font-gray);
    font-weight: 900;
    line-height: 24px;
}

#introduce figure {
    margin-top: 40px;
}

#now-start {
    background-color: var(--background-color-gray);
    height: 444px;
    position: relative;
    overflow: hidden;
}

#now-start>p {
    font-size: 36px;
    font-weight: 300;
    color: var(--font-gray);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.count-up {
    color: var(--main-color);
}

#now-start .accent {
    color: var(--main-color);
}

#now-start::after {
    display: block;
    content: '';
    height: 100%;
    width: 50%;
    background-color: #0BB8FF;
    transform: skewX(-30deg);
    position: absolute;
    right: -200px;
}

footer {
    background-color: var(--footer-bacground-color);
}

.footer-container {
    width: 980px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom : 96px

}

.sns-icons {
    overflow: hidden;
}

.sns-icons li {
    float: left;
    margin-right: 12px;
}

.footer-nav {
    margin-top: 24px;
    overflow: hidden;
}

.footer-nav li {
    float: left;
    margin-right: 24px;
}

.footer-nav a {
    color: var(--font-footer-light)
}

.footer-nav .accent {
    color :#FFF;
}

.corp-area {
    margin-top: 24px;
    overflow: hidden;
    color: var(--font-footer-dark);
    font-size: 13px;
}

.corp-area>ul {
    float: left;
    width: 50%;
}

.corp-area li {
    margin-bottom: 8px;
}

.corp-area dl {
    overflow:hidden;
}

.corp-area dl>* {
    float: left;
}

.corp-area dt {
    margin-right: 4px;
}

.corp-area dt::after {
    content:'.';
}

.corp-right a {
    color: var(--font-footer-light);
    text-decoration: underline;
}